extends layout

block content
	.container
		h1 Applicants
		for a in applicants
			ul#applications.list-unstyled
				li 
					h2 <span>Name</span>: 
						a(href="/#{a.id}") #{a.name}
				li <span>Bio</span>: #{a.bio}
				li <span>Key Skills</span>: #{a.skills}
				li <span>Years of Experience</span>: #{a.years}
				li <span>Why I want to work at Lexcorp</span>: #{a.why}
				li 
					a(href="/applicants/#{a._id}")#delete Delete Applicant
		a(href="/") Return to Application Submission Page