extends layout

block content
	.container
		h1 Applicants
		for a in applicants
			ul#applications.list-unstyled
				li 
					h2 Name: #{a.name}
				li Bio: #{a.bio}
				li Key Skills: #{a.skills}
				li Years of Experience: #{a.years}
				li Why I want to work at Lexcorp: #{a.why}
				li 
					a(href="/applicants/#{a._id}")#delete Delete Applicant
		a(href="/") Return to Application Submission Page